html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.parallax {
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
} 
  .caption {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 25px;
    letter-spacing: 10px;
  }    
    span {
      padding: 18px;
      background-color: #111;
    }
    
    span.less-height,
    span.scroll-up,
    .cool {
      font-size: 25px;
      color: #f7f7f7;
      background-color: transparent;
      text-transform: uppercase;
    }
    
    span.cool {
      background-color: #111;
    }

  
  .first-image {
    height: 100%;
    background-image: url("./img/pinzas_fondo_cambiante.png");
  }
  
  .second-image {
    background-image: url("./img/pinzas-rosa.png");
    height: 100%;
  }
  
  .third-image {
    background-image: url("./img/pinzas-amarillas-flores.png");
    height: 100%;
  }

  .fourth-image {
   background-image: url("./img/pinzas-verdes.png");
   height: 100%;
  }


.parallax-demo {
  color: #777;
  background-color: white;
  padding: 50px 80px;
  text-align: justify;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  font: 20px "Lato", sans-serif;
  color: #111;
  letter-spacing: 5px;
}

.second-text,
 .third-text {
  color: #ddd;
  background-color: rgb(40, 46, 52);
  padding: 50px 80px;
}